function Main.main 3
push  -1
push CONST 10
call .new 2
pop VAR 0
push  -1
push CONST 5
call .new 2
pop VAR 1
push  -1
push CONST 1
call .new 2
pop VAR 2
push CONST 3
push VAR 0
add
push CONST 2
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push CONST 4
push VAR 0
add
push CONST 8
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push CONST 5
push VAR 0
add
push CONST 4
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
push VAR 1
add
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
push CONST 3
add
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push VAR 1
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
add
pop POINTER 1
push THAT 0
push VAR 0
add
push VAR 0
push VAR 0
push CONST 5
add
pop POINTER 1
push THAT 0
add
pop POINTER 1
push THAT 0
push VAR 1
push CONST 7
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
sub
push  -1
push CONST 2
call .double 2
sub
push CONST 1
add
add
pop POINTER 1
push THAT 0
call Math.multiply 2
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push CONST 0
push VAR 2
add
push CONST 0
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push VAR 2
push CONST 0
add
pop POINTER 1
push THAT 0
pop VAR 2
push  -1
push CONST 43
call String.new 1
push CONST 84
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 49
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 120
call String.appendChar 2
push CONST 112
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 100
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 53
call String.appendChar 2
push CONST 59
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
call .printString 2
pop TEMP 0
push  -1
push VAR 1
push CONST 2
add
pop POINTER 1
push THAT 0
call .printInt 2
pop TEMP 0
push  -1
call .println 1
pop TEMP 0
push  -1
push CONST 44
call String.new 1
push CONST 84
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 50
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 120
call String.appendChar 2
push CONST 112
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 100
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 52
call String.appendChar 2
push CONST 48
call String.appendChar 2
push CONST 59
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
call .printString 2
pop TEMP 0
push  -1
push VAR 0
push CONST 5
add
pop POINTER 1
push THAT 0
call .printInt 2
pop TEMP 0
push  -1
call .println 1
pop TEMP 0
push  -1
push CONST 43
call String.new 1
push CONST 84
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 51
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 120
call String.appendChar 2
push CONST 112
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 100
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 48
call String.appendChar 2
push CONST 59
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
call .printString 2
pop TEMP 0
push  -1
push VAR 2
call .printInt 2
pop TEMP 0
push  -1
call .println 1
pop TEMP 0
push CONST 0
pop VAR 2
push VAR 2
push CONST 0
eq
if-goto LABEL_1_IF_TRUE
goto LABEL_2_IF_FALSE
label LABEL_1_IF_TRUE
push  -1
push VAR 0
push CONST 10
call .fill 3
pop TEMP 0
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
pop VAR 2
push CONST 1
push VAR 2
add
push CONST 33
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push VAR 0
push CONST 7
add
pop POINTER 1
push THAT 0
pop VAR 2
push CONST 1
push VAR 2
add
push CONST 77
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
push VAR 0
push CONST 3
add
pop POINTER 1
push THAT 0
pop VAR 1
push CONST 1
push VAR 1
add
push VAR 1
push CONST 1
add
pop POINTER 1
push THAT 0
push VAR 2
push CONST 1
add
pop POINTER 1
push THAT 0
add
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
label LABEL_2_IF_FALSE
push  -1
push CONST 44
call String.new 1
push CONST 84
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 52
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 120
call String.appendChar 2
push CONST 112
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 100
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 55
call String.appendChar 2
push CONST 55
call String.appendChar 2
push CONST 59
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
call .printString 2
pop TEMP 0
push  -1
push VAR 2
push CONST 1
add
pop POINTER 1
push THAT 0
call .printInt 2
pop TEMP 0
push  -1
call .println 1
pop TEMP 0
push  -1
push CONST 45
call String.new 1
push CONST 84
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 53
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 120
call String.appendChar 2
push CONST 112
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 100
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 49
call String.appendChar 2
push CONST 49
call String.appendChar 2
push CONST 48
call String.appendChar 2
push CONST 59
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 99
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 97
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 32
call String.appendChar 2
push CONST 114
call String.appendChar 2
push CONST 101
call String.appendChar 2
push CONST 115
call String.appendChar 2
push CONST 117
call String.appendChar 2
push CONST 108
call String.appendChar 2
push CONST 116
call String.appendChar 2
push CONST 58
call String.appendChar 2
push CONST 32
call String.appendChar 2
call .printString 2
pop TEMP 0
push  -1
push VAR 1
push CONST 1
add
pop POINTER 1
push THAT 0
call .printInt 2
pop TEMP 0
push  -1
call .println 1
pop TEMP 0
push CONST 0
return
function Main.double 0
push ARG 0
push CONST 2
call Math.multiply 2
return
function Main.fill 0
label LABEL_4_WHILE_START
push ARG 1
push CONST 0
gt
not
if-goto LABEL_5_WHILE_END
push ARG 1
push CONST 1
sub
pop ARG 1
push ARG 1
push ARG 0
add
push  -1
push CONST 3
call .new 2
pop TEMP 0
pop POINTER 1
push TEMP 0
pop THAT 0
goto LABEL_4_WHILE_START
label LABEL_5_WHILE_END
push CONST 0
return
